@charset "utf-8";
/* CSS Document */
a{text-decoration:none;color:#666;}
a:hover{ text-decoration:none; color:#378fd0;}
a:link,a:visited{ color:#333;}
.blue a:link,.blue a:visited{ color:#368dd0;}
.clear{ clear:both;}
.red{color:#e50013;}
.mb0{margin-bottom:0 !important;}
.bd0{border-bottom:none !important;}
.bdr{border-right:none !important;}
.f18{font-size:18px;font-family:"微软雅黑"; font-weight:normal;}
.f20{font-size:20px;font-family:"微软雅黑"; color:#666 !important;}
.bold{ font-weight:bold;}
/***高度***/
.blank5{height:5px;}
.blank15{height:15px;}
.blank10{height:10px;font-size:0;}
.blank5{height:5px;font-size:0;}
.blank20{height:20px;}
.blank25{height:25px;}
.blank26{height:26px;}
/*头部*/
#headerBox{width:100%; background:#F7F7F7;height:30px;border-bottom:1px solid #e5e5e5;border-top:0;}
#header{width:1000px;margin:0 auto;color:#666;line-height:30px;}
#header a{color:#666;}
i{display:inline-block;}
.fuwu{display:inline-block;width:95px; text-indent:14px; position:relative; z-index:10;cursor:pointer; float:left;}
.fuwu:hover{background: #fff;box-shadow:0px 2px 5px #ccc;}
.fuwuIcon{width:9px; height:5px;background:url(../images/all.png) 0 -82px;margin: -2px 0 0 5px;}
.fuwu:hover .fuwuIcon{background:url(../images/all.png) -13px -82px;}
.fuwuList{ position:absolute;width:95px;background:#fff; top:30px; left:0;border-top:2px solid #378fd0; box-shadow:0px 2px 5px #ccc;z-index:5;display:none;}
.fuwu .fuwuList a{display:block;}
#header .fuwu .fuwuList  a:hover{background: #FFEDDF;color: #F46101;}
#header .fr a{display:inline-block; }
#header .fl a{display:inline-block; }
.shouji{width:80px;background:url(../images/all.png) 6px 9px;padding:0 0 0 25px;float:left; cursor:pointer; position:relative; z-index:2;}
.shouji:hover{background:url(../images/all.png) -27px -70px  no-repeat #fff;box-shadow:0px 2px 5px #ccc;}
.ewm{width:258px; height:297px; background:#fff;position:absolute;right:0;top:28px; z-index:1;text-indent:0; border-top:2px solid #378fd0;box-shadow:0px 2px 5px #ccc;display:none; }
.ewm dl{margin-bottom:30px;}
.ewm dl dt{width:96px;margin:0 15px 0 25px;float:left;display:inline;}
.ewm dl dd{font-size:18px;font-family:"微软雅黑"; line-height:25px;}
.ewm dl dd p{font-size:12px; font-family:"宋体"; line-height:20px;margin-top:8px;}
.login{ background:url(../images/all.png) 19px -19px no-repeat; text-indent:42px;float:left;width:80px; position:relative;z-index:10; cursor:pointer;}
.login:hover{ background-color:#fff;box-shadow:0px 2px 5px #ccc; }
.search{background:#f2f6f9; border-bottom:1px solid #d3d2d2}
.loginBox{width:305px; position:absolute;top:28px; right:0;background:#fff;border-top:2px solid #378fd0; text-indent:0; z-index:10;box-shadow:0px 2px 5px #ccc; display:none;}
.loginBox .name , .loginBox .pass{width:224px;height:34px; border:1px solid #E8E5E5;padding-left:36px;line-height:34px;}
.loginBox .name {margin:20px 21px 10px; background:url(../images/name.jpg) no-repeat 7px center;}
.loginBox .pass {margin:0 21px 0; background:url(../images/pass.jpg) no-repeat 7px center;}
.check {margin:0 7px 0 21px;}
.welcome{margin:0 10px;}
.welcome:hover{color:#e50013 !important;}
#header .wjmm{float:right;color:#F46101;margin-right:20px;}
.btn{ display:inline-block;  text-align:center; line-height:32px; color:#fff; background:url(../images/btnBg.jpg);border:1px solid #db3740; font-size:14px; cursor:pointer;}
.btn:hover{color:#fff; background:url(../images/btnBg_h.jpg);}
.loginBox .btn{width:260px;height:30px; margin-left:21px; line-height:29px;}
.hezuo{height:70px;line-height:30px; padding-left:21px;}
.zhuce{background:url(../images/all.png) 20px -45px no-repeat; text-indent:42px;width: 80px;}
#logoBox{width:1000px;height:90px;margin:0 auto; }
#logoBox .fl{margin-top:21px;margin-right:84px;}
#logoBox .fl a{float:left;}
#logoBox .serBox{width:499px;float:left;color:#666;margin-right:70px;}
.ser{border:2px solid #378FCF;height:34px;margin-top:19px;}
.ser .text{border:0;border-right:2px solid #378FCF;width:404px;height:24px;line-height:24px;float:left; text-indent:8px; padding:5px 0 5px 3px; color:#666;}
.ser .sousuo{width:86px;height:34px;float:left;border:0; background:#378FCF; cursor:pointer; color:#fff; font-size:14px; font-weight:900;}
.shoulu{padding-top:24px;}
.shoulu img{float:left; }
.lan{display:inline-block; width:44px; height:35px; background:url(../images/all.png) -76px -619px no-repeat; float:left;}
.shoulu  p{height:35px; border-left:1px solid #ccc; margin-left:8px;padding-left:8px; color:#676767; font-family:"微软雅黑"; font-size:14px; line-height:18px; float:left;}
.serBox a{line-height:22px;padding:0 6px; color:#666;}
.serBox a:hover{color: #3890D0;}
#navBox{height:40px; background:#378FCF; overflow:hidden;}
#nav{width:1000px;margin:0 auto;height:40px;line-height:40px;}
#nav a{display:inline-block;color:#fff;font-size:16px; font-family:"微软雅黑"; text-align:center; width:140px; }
#nav a.all{width:200px; background:#3FA0D5;}
#nav a.selected{ background:#4CACE6;border-right:1px solid #2C72A6;}
#nav a:hover{ background:#4CACE6;}
/*主区域上部*/
#mainTop{overflow:hidden;}
/*菜单*/
#menu{width:200px; float:left; background:#F6F7FB; margin-right:10px;line-height:22px; height:547px;}
#menu li{padding:12px 20px;border-bottom:1px solid #E0E0E0; background:url(../images/jian.png) 175px 26px no-repeat; cursor:pointer; position:relative; z-index:5;}
#menu li p{font-family:"微软雅黑"; font-size:18px;line-height:40px;color:#333;}
#menu li a{display:inline-block;width:78px; color:#666;}
#menu li:hover{background-color:#fff;}
#menu li.selected ,#menu li:hover {background-color:#fff;border:2px solid #378fd0; padding:10px 20px 11px 18px; }
#menu li .menu2{ background:url(../images/menu2.jpg) left 0px repeat-y #fff; position:absolute; right:-502px;_right:-500px;top:-2px;_top:0px;width:500px;border:2px solid #378fd0; border-left:none;padding:10px 0; z-index:5; display:none;}
#menu li .menu2 a{width:130px;padding-left:20px;line-height:30px;}
#menu a:hover{ color:#378fd0;}
#menu li.selected .menu2{display:block;}
#menu li#nanshi a{width:158px;}
/*banner*/
#banner{width:540px; height:280px; margin-top:10px; position:relative; z-index:1; overflow:hidden;}
#banner ul{width:540px; height:280px;overflow:hidden;}
#banner ul img{ position:absolute;  z-index:1;}
.sub{width:96px; height:24px;  position:absolute; bottom:11px; right:8px; background:url(../images/all.png) 0 -98px;z-index:5;}
.sub span{display:inline-block;width:20px; height:20px; margin-left:3px; margin-top:2px; text-align:center; line-height:20px; background:url(../images/all.png) 0 -127px; cursor:pointer;}
.sub span.cur ,.sub span:hover{background:url(../images/all.png) -31px -127px; color:#fff;}

/*送礼指数 */
#slzs{width:538px;height:255px;border:1px solid #E0E0E0;overflow:hidden;}
#slzs .fl ,#slzs .fr{height:100%;  cursor:pointer; }
#slzs .fl{width:34px;background:url(../images/left.png) 10px center no-repeat;}
#slzs .fl:hover{background:url(../images/left2.png) 10px center no-repeat #f5f5f5;}
#slzs .fr{width:34px;background:url(../images/right.png) 10px center no-repeat;}
#slzs .fr:hover{background:url(../images/right2.png) 10px center no-repeat #f5f5f5;}
.zhishuBox{width:540px;height:248px;overflow:hidden;position:relative;float:left; _display:inline;}
.zhishuBox ul{width:1410px;height:248px;position: absolute;left:0;}
.goodsBox{ float:left;width:100%; height:248px;overflow:hidden;}
.zhishu{width:520px;height:122px;margin-bottom:5px;padding-left:6px;padding-top:5px;}
.zhishu .gx{float:left;margin-top:10px; width:90px;}
.quxian{  width:377px; height:108px; float:left;margin-top:10px;}
#goods{height:120px;}
#goods dl{line-height:16px;width:85px;float:left;margin:0 0 0 20px;}
#goods dl a:hover{ color:#378fd0;}
#zs_list7,#zs_list8{ display:none;}

/*main top right*/
.topRight{width:240px; height:537px;float:left;margin-left:10px; _margin-left:8px; margin-top:10px; overflow:hidden;}
.baozhang{width:228px; height:258px; border:1px solid #E0E0E0;padding:10px 0 10px 10px; font-size:14px; line-height:24px;}
.baozhangH{font-size:16px; font-family:"微软雅黑";margin-bottom:10px;}
.qiye{height:150px;width: 220px;}
.huizhang i{margin:0 8px 0 0;display:inline-block;width:67px; height:69px;}
.hz1{ background:url(../images/all.png) 0 -931px;}
.hz2{ background:url(../images/all.png) 0 -1002px;}
.hz3{ background:url(../images/all.png) 0 -1075px;}
.xingzuo{display:none;}
.xingzuoH{height:43px; line-height:50px; font-weight:900;text-align:right; overflow:hidden; font-family:"微软雅黑"; font-size:14px;}
.yunshi{width:238px; height:212px; border:1px solid #E0E0E0; position:relative;}
.yunshi a.blue:hover{color: #e50013 !important;}
.xzImg{ display:block;width:80px; height:80px;position:absolute; top:-25px; left:6px;background:url(../images/xingzuo.png); }
.xingzuo .xz1{ background-position:0 0;}
.xingzuo .xz9{ background-position:0 -80px;}
.xingzuo .xz5{ background-position:0 -160px;}
.xingzuo .xz3{ background-position:0 -240px;}
.xingzuo .xz2{ background-position:0 -320px;}
.xingzuo .xz10{ background-position:0 -400px;}
.xingzuo .xz7{ background-position:-80px 0;}
.xingzuo .xz8{ background-position:-80px -80px;}
.xingzuo .xz11{ background-position:-80px -160px;}
.xingzuo .xz6{ background-position:-80px -240px;}
.xingzuo .xz4{ background-position:-80px -320px;}
.xingzuo .xz12{ background-position:-80px -400px;}
i.xing{display:inline-block;width:12px;height:12px; background:url(../images/all.png) -16px -154px;}
i.xing2{display:inline-block;width:12px;height:12px; background:url(../images/all.png) 0 -154px no-repeat;}
.yunshi dl{color:#666; height:120px;}
.yunshi dt{padding-left:100px;line-height:25px; padding-top:5px; height:50px;}
.yunshi dd{padding:0 10px; line-height:20px;}
.yunshi dt span.blue{font-size:16px; font-weight:900;}
.xzBox12{background:#F6F7FB; padding:3px 10px; height:86px;margin-top: -93px; position:relative;z-index:10;}
.xzBox12 a{display:inline-block;width:45px; height:17px;margin:6px 4px; text-align:center; line-height:17px;}
.xzBox12 a.selected , .xzBox12 a:hover{background:#41B3E5; color:#fff;}
/*======================================================================================================================================================================================*/
#main{width:1000px; margin:0 auto;}
.title{border-bottom:2px solid #aaa; height:27px;}
.title .cur{ font-size:20px; font-family:"微软雅黑"; color:#666;}
.title span a{margin-right:15px; height:27px; line-height:27px; _height:30px; _margin-bottom:-2px; display:inline-block; position:relative;color:#666; cursor:pointer;}
.title span .a1{border-bottom:2px solid #e4393c; color:#e4393c;}
.title span{width:241px;}
.title a.a1 i{ inline-block; width:10px; height:5px; background:url(../images/all.png) -106px -598px no-repeat; position:absolute; left:50%; bottom:0; _margin-bottom:-7px; z-index: 2;}
/*=======首页人群分类=======*/
/*=======左边部分=======*/
.people_listl{width:199px; border-right:1px solid #f1f1f1;}
.people_listl .p1 a{ display:inline-block; width:85px; padding-right:10px; line-height:27px;}
.people_listl .p1 .a1{width:auto;}
.people_listl .p1 a:hover{color:#378fd0;}
.people_listl ul{border-top:1px solid #f1f1f1;height: 302px;border-bottom: 1px solid #ddd;}
.h296 {height:296px !important;}
.h291 {height:291px !important;}
.h291 ul{height:288px;}
.h296 ul{height:293px;}
.people_listl li{ display:inline-block; text-align:center; display:none;}
.people_listl li.lis{ display:block;}
.people_listl li img{ display:inline-block; margin-top:13px;border:1px solid #f1f1f1}
.h291 li img{margin-top:13px;}
.people_listl .sp_l{display:block; width:14px; height:24px; background:url(../images/left.png) no-repeat; position:absolute; left:13px; top:127px; cursor:pointer;}
.people_listl .sp_l:hover{background:url(../images/left2.png) no-repeat;}
.people_listl .sp_r{display:block; width:14px; height:24px; background:url(../images/right.png) no-repeat; position:absolute; right:13px; top:127px;cursor:pointer;}
.people_listl .sp_r:hover{background:url(../images/right2.png) no-repeat;}
.people_listb{width: 200px;height: 304px;}
.people_listl ul {position: absolute;width:400px;left:0;}
.people_listl ul li{width:400px;float: left;}
.hide_tag{display: none}
.people_listl ul li a{display:inline-block;width:200px;}
/*==========中间部分=======*/
.people_listc{ padding:20px 0 0 20px;  width:538px;_width:530px; border-bottom:1px solid #ddd; padding-bottom:16px;}
.women .people_listc{padding:0; width:558px;_width:550px;_overflow:hidden;}
.women .people_listc dl{margin-bottom:10px !important;  height:100px; overflow:hidden;}
.women1{padding:20px 0 0 20px; height:220px;}
.strong_num{padding-right:4px; display:inline-block; }
.man .people_listc{padding-bottom:21px;}
.people_listc dl{ overflow:hidden; float:left; width:259px; height:100px; margin-bottom:38px;}
.people_listc dt{margin-right:10px; float:left;}
.people_listc dd{float:left; width:134px;}
/* .people_listc dd i,.people_listc li p i,.people_listr dd i{display:inline-block; width:22px; height:25px; background: url(../images/all.png) no-repeat -40px -234px; vertical-align:-2px;} */
.people_listc dd p{ line-height:20px;}
.people_listc dd .p1{padding:6px 0 22px 0;}
.people_listc dd .p1 a:hover{color:#378fd0;}
.people_listc ul{ overflow:hidden; width:558px; border-top:1px solid #f1f1f1; float:left;}
.people_listc li{padding:15px 19px 5px; width:100px; height:170px; float:left; border-right:1px solid #f0f0f0;}
.people_listc li .a1{padding:10px 0; display:block;}
.people_listc li .a1:hover{color:#378fd0;}
.people_listc a.c999:hover{color:#378fd0 !important;}
/*==========右边部分=======*/
.people_listr{width:227px; border-left:1px solid #f1f1f1; border-bottom:1px solid #ddd; padding:0 4px 0 10px; overflow:hidden;}
#mainRight .people_listr{width:234px;}
.people_listr .uls li{padding:12px 0 10px 0; border-bottom:1px dashed #d6d6d6;  overflow:hidden; height:80px;line-height:22px;}
.people_listr .uls li.cur{ border-bottom:1px dashed #fff;}
.people_listr .uls li h4 a:hover{color:#378fd0;}
.people_listr .uls li span a{color:#378fd0}
.people_listr .uls li span a:hover{color: #e50013;}
.people_listr .index_show dd{width:135px;}
.people_listr .index_cont li.li1{padding:8px 0; height:auto; overflow:hidden;}
.people_listr .index_cont li{height:36px; line-height:36px; *height:34px; *line-height:30px; padding:0; overflow:hidden;}

.women .index_cont{height:431px;}
.women .index_cont h3 p .fen5{ margin-top:7px;}
.man .people_listr{padding:0; border-left:none; width:242px; height:417px; /* _height:400px; */}
.man_dl dt{border:1px solid #e6e6e6; margin-right:10px;}
.man_dl dd p{ line-height:20px;}
.man_dl dd .p1{padding:3px 0 12px 0;}
.man_one{width:226px; height:40px; background:url(../images/arrow3.png) no-repeat; padding:12px 5px 4px 10px; line-height:21px; margin-top:4px;}
.man_two{padding:5px 0 15px 0; }
.man_two a:hover{color:#378fd0;}
.man_list1 .p2 em{display:inline-block; width:21px; height:18px; background:url(../images/all.png) -75px -598px no-repeat; vertical-align:-4px; padding-right:10px;}
.man_list1 a.blue:hover{color: #e50013 !important;}
/*=======/首页人群分类=======*/

/*============================标签列表页=================*/

#adr{height:40px;line-height:40px;}
#adr a:hover{color: #368dd0!important;}
#mainLeft{width:725px;float:left;/*  display:inline-block; */ }
#shaixuan{height:auto;border:1px solid #D3E1EC;line-height:30px; overflow:hidden;}
.neirongH{height:34px;background:#F7FCFF;   color:#333; line-height:34px; border-bottom:1px solid #D3E1EC;}
.neirongH span,.neirongH p{ display:inline-block; float:left;}
.neirongH span{ font-weight:bold; color:#666;padding-left:20px;}
.neirongH p a{ background:#e50013; color:#fff;margin-left:12px;padding:4px 5px 4px 10px;  }
.neirongH p a em{ display:inline-block; background:url(../images/all.png) no-repeat -10px -171px; width:10px; height:11px; position:relative;top:1px;}
.common_tag { border-bottom:1px dotted #c9c9c9;}
.fenlei a.current{color:#fff !important;}
.common_tag2{ border:none;}
.common_tag strong,.common_tag a{ display:inline-block; float:left;white-space:nowrap;}
.common_tag strong{ padding-left:20px; color:#666;}
.common_tag a{ margin-right:30px;}
.common_tag p{ width:580px; float:left;height: 26px;overflow: hidden}
.common_tag span{ float:right; color:#333;margin-right:15px; cursor:pointer;}
.common_tag span em{ display:inline-block; width:9px; height:6px; margin-left:5px;}
em.icon_down{ background:url(../images/all.png) -39px -172px ;}
/*列表排序*/
.sorting_tit{ height:30px; line-height:30px; border:1px solid #e5e5e5;border-left:none;border-right:none; background:#f5f5f5;}
.sorting_tit a{ display:inline-block; padding:0 12px; border-right:1px solid #e5e5e5;_position:relative;_padding-top:10px;}
.sorting_tit a:hover{color: #e61d24;}
span.icon_arrow_d{  display:inline-block; width:7px; height:8px; background:url(../images/all.png) no-repeat 0 -172px;margin-left:5px;}
span.icon_arrow_p{  display:inline-block; width:7px; height:10px; background:url(../images/all.png) no-repeat -53px -171px;margin-left:5px;}
span.icon_arrow_p2{ background-position:-63px -171px;}
span.icon_arrow_p3{ background-position:-73px -171px;}

/*列表内容*/
.common_list{ border:1px solid #e5e5e5;border-top:none;}
.goodsUl li{ height:auto; overflow:hidden; clear:both; border-bottom:1px dashed #f5f5f5;padding:15px 0 10px 15px;}
.goodsImg {border:1px solid #e5e5e5; float:left;margin-right:10px;}
.goodsInfo{float:left;width:457px; overflow:hidden;}
.goodsInfo p{line-height:22px;}
.goodsInfo p a.c666:hover{color: #378fd0!important;}
.goodsInfo p a.blue:hover{color: #e61d24 !important;}
.goodsInfo p.font16{line-height:28px;}
.goodsUl .fr {margin-top:10px;width:126px;}
.goodsUl .fr .font14 .fen5,.goodsUl .fr .font14 .fen1,.goodsUl .fr .font14 .fen2,.goodsUl .fr .font14 .fen3,.goodsUl .fr .font14 .fen4 {margin:-6px 5px 0 0;}
.buy{display:block;width:70px; height:26px;margin-top:15px;background:#f90; font-size:14px; color:#fff;  text-align:center; line-height:26px; float:right;}
.buy:hover{background:#F16100;}
.goodsInfo .font16{ font-size:16px; font-family:"微软雅黑";}
.fr .f24{ font-family:"微软雅黑";}
.common_list .fr p{ line-height:22px; clear:both;}
.common_list .fr .font14{ line-height:34px;}
.fen5{width:34px ; height:37px; background:url(../images/all.png) 0 -229px;float: left;}
.fen4{width:34px ; height:37px; background:url(../images/all.png) 0 -267px;float: left;}
.fen3{width:34px ; height:37px; background:url(../images/all.png) 0 -307px;float: left;}
.fen2{width:34px ; height:37px; background:url(../images/all.png) 0 -346px;float: left;}
.fen1{width:34px ; height:37px; background:url(../images/all.png) 0 -386px;float: left;}
/*右侧内容*/
#mainRight{width:260px;float:right;}
/*送礼指数*/
.num_index{ border:1px solid #e5e5e5; padding:10px 12px;}
.tab_list{ height:27px; border-bottom:1px solid #e5e5e5; }
.tab_list li{ font-size:16px; float:left;font-family:"微软雅黑";margin-right:8px;padding-bottom:5px; position:relative; cursor:pointer;}
.tab_list .current{ border-bottom:2px solid #3591d2;}
.tab_list .current span.icon_arrow_top{ width:8px; height:4px; display:inline-block; background:url(../images/all.png) no-repeat -22px -189px; position:absolute; z-index:1;bottom:0px; overflow:hidden; left:47%;}
.index_cont .num1{ color:#ff7e11; font-size:16px; font-style:italic; font-family:Arial, Helvetica, sans-serif;margin-right:10px; }
.index_cont li{ padding:10px 0; border-bottom:1px dashed #e5e5e5; }
.index_cont .no-boder{ border:none;}
.index_cont h3 a{ display:inline-block; float:left;}
.index_cont h3  .num{ font-size:16px; font-style:italic; color:#999;font-family:Arial, Helvetica, sans-serif;margin-right:10px;}
.index_cont h3 p{ float:right;}
.index_cont h3 p i{width:18px; height:20px;font-family:"微软雅黑";margin-right:5px; overflow:hidden; }
.index_cont h3 p .fen1{ background:url(../images/all.png) no-repeat -70px -316px;}
.index_cont h3 p .fen2{ background:url(../images/all.png) no-repeat -70px -296px;}
.index_cont h3 p .fen3{ background:url(../images/all.png) no-repeat -70px -275px;}
.index_cont h3 p .fen4{ background:url(../images/all.png) no-repeat -70px -254px;}
.index_cont h3 p .fen5{ background:url(../images/all.png) no-repeat -70px -234px;}


.index_cont dd p{ clear:both; line-height:22px;}
.index_cont dd .haop { margin-top:10px;}
.index_cont dd .haop em{ position:relative;top:-3px;}
.index_cont dd .haop span{ font-size:18px;font-family:"微软雅黑";margin-right:5px;}
.index_cont dd p i{ width:22px; height:25px;font-family:"微软雅黑";margin-right:5px; overflow:hidden;}
.index_cont dd p .fen1{ background:url(../images/all.png) no-repeat -40px -337px;}
.index_cont dd p .fen2{ background:url(../images/all.png) no-repeat -40px -310px;}
.index_cont dd p .fen3{ background:url(../images/all.png) no-repeat -40px -285px;}
.index_cont dd p .fen4{ background:url(../images/all.png) no-repeat -40px -259px;}
.index_cont dd p .fen5{ background:url(../images/all.png) no-repeat -40px -234px;}

.index_cont h3 p span{ font-size:14px; position:relative;top:2px;}
.index_show dt{ width:80px; height:80px; border:1px solid #e5e5e5; float:left; position:relative;}
.index_show dt span{ position:absolute; z-index:1; top:0px; left:0px; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-style:italic; color:#fff;}
.index_show dd{ float:left; margin-left:10px;width:140px;}
.index_show dd .title_zhishu{ font-size:14px; }
.index_show dd .title_zhishu a{ color:#378fd0;}
.index_show dd em{ color:#666;}
.index_show dd .title_zhishu a:hover{color: #e50013 !important;}
span.num_tag{width:31px; height:30px; line-height:18px; display:inline-block; background:url(../images/all.png) no-repeat -83px -166px; position:absolute; z-index:1; }



/*相关资讯*/
.common_info{ border:1px solid #e5e5e5; padding:10px 12px;}
.common_tit{ border-bottom:1px solid #e5e5e5; font-size:16px;font-family:"微软雅黑";}
.common_tit span{ border-bottom:2px solid #378ed1;display:inline-block;padding-bottom:5px; margin-bottom: -1px;}
.common_info li{ padding-bottom:18px;}
/*点击更多展开样式*/
.common_tag_2 a{ margin-right:14px; color:#368dd0; line-height:17px; display:block; float:left;margin-top:6px;}
em.icon_down2{ background:url(../images/all.png) no-repeat -26px -172px;}
.common_tag_2 .current{ /*width:17px; height:19px;background:url(../images/all.png) no-repeat 0 -184px;*/ background:#e50014;padding:2px 5px ;text-align:center; line-height:14px; color:#fff;}
.hide_tag{ border:1px solid #e5e5e5; width:620px; clear:both; margin-left:85px;  height:150px; overflow-y:scroll;margin-bottom:10px; background: none repeat scroll 0 0 #FBFBFB; box-shadow: 0 1px 2px #f0f0f0 inset; overflow-x:hidden; padding-bottom:5px;}
.hide_tag a{ margin-left:25px; }
.hide_tag a:hover{ color:#e50013;}

			/*====================内页-产品介绍=====================*/
.all_comp span{ display:inline-block; background:url(../images/all.png) no-repeat 0px 0px; width:16px; height:16px;}
span.icon_brand{ background-position:-104px -327px;top:2px; position:relative;  }
span.icon_comp{ background-position:-106px -308px; top:4px; position:relative; }
span.icon_address{ background-position:-108px -286px;top:4px; position:relative; }
span.icon_phone{ background-position:-107px -269px;top:4px; position:relative; }

.icon_er{ width:198px; height:83px; background:url(../images/er_03.jpg) no-repeat 0 0; display:inline-block; position:absolute; z-index:1;top:-23px;right:0px;}
#mainTitle{height:94px;border:1px solid #d2e2ec; background:#F7FCFF;padding-left:15px;padding-top:8px; position:relative;z-index:1; font-size:14px;}
h2{color:#333;font-size:26px;font-family:"微软雅黑";line-height:36px;height:36px;}
#mainTitle p img{ vertical-align:middle;margin-right:10px;margin-top:-2px;}
#mainTitle p a{font-size:14px;margin-right:20px;line-height:30px;}
#mainTitle p a:hover{color: #378fd0;}
.paiming{padding-left:32px; /* background:url(../images/all.png) 0 -633px no-repeat; */ position:absolute; right:10px;bottom:10px; font-size:16px;font-family:"微软雅黑"; color:#666;}
em.icon_trophy{ width:18px; height:25px;background:url(../images/all.png) -96px -234px no-repeat; display:inline-block; vertical-align:middle;margin-right:5px; }
.paiming span{font-size:22px; }
#tab{height:35px; position:absolute; bottom:-6px;}
#tab a {display:inline-block;width:80px; height:30px; background:#4D9FD9; color:#fff; text-align:center; line-height:30px;font-size:14px;margin-right:2px; float:left;}

#tab a.selected{ height:35px;background:url(../images/all.png) -40px -372px;font-weight:900;}
#tab a:hover{ height:35px; background:url(../images/all.png) -40px -372px; font-weight:900;}

/**/
#pic{ width:300px; overflow:hidden; height:300px; border:1px solid #d2e2ec;}
#pic li{ float:left; }
#sm_pic li{ width:66px; float:left; border:1px solid #d2e2ec;margin:10px 0 0 10px; cursor:pointer;}
#sm_pic .first{ margin-left:0px;}
#sm_pic .current{ border:1px solid #e50013;}
.con_info{ font-size:14px; width:410px;_margin-left:10px;}
.con_info p{ clear:both; line-height:38px;}
.con_info p em b{ color:#666;}
.con_info span,.con_info em{ display:inline-block; float:left;}
.con_info span{ font-weight:bold;}
.con_info em{ color:#666; margin-left:5px;}
.composition em{ width:350px;}
/*===========分享===========*/
.share_all{ border-top:1px dashed #e5e5e5; clear:both; width:410px; height:32px; line-height:32px;padding-top:20px; _margin-left:10px;}
.share_all span{ display:inline-block; background:url(../images/all.png) no-repeat 0 0; width:16px; height:18px; position:relative;top:4px;}
/*.bdsharebuttonbox a{ display:inline-block; background:url(../images/all.png) no-repeat 0 0; width:16px; height:16px; position:relative;top:4px;}*/
.bdsharebuttonbox { width:180px;}
.share_all a{ margin-right:8px;vertical-align: -1px;}
.share_all .buy_bnt a{ margin:0 auto;}
span.icon_qq{ background-position: 0 -206px;}
span.icon_sina{ background-position: -23px -206px;}
span.icon_ten{ background-position: -48px -206px;}
span.icon_renren{ background-position: -69px -206px;}
span.icon_add{ background-position: -92px -206px;}
.share_all p{ float:left;}
.share_all .collection{ margin-left:30px;}
.share_all .buy_bnt{ background:#ed4b56; font-family:"微软雅黑"; font-size:16px; text-align:center; line-height:32px; width:100px; height:32px;  float:right;}
.share_all .buy_bnt:hover{ background:#db3740;}
.share_all .buy_bnt a{ color:#fff;}
/*================网上报价===============*/
.baojia_1{height:70px; background:url(../images/tab_2bg.jpg) repeat-x; padding:0 14px;}
.baojia_1 h2{font-size:18px; font-family:"微软雅黑"; font-weight:normal;}
.pt10{padding-top:10px;}
.tab_2{ width:725px; border:1px solid #e5e5e5; border-top:none;;}
.tab_2 .tr2 td{border-bottom:none;}
.tab_2 td{padding:10px 0; border-bottom:1px dashed #ccc;}
.tab_2 img{border:1px solid #e5e5e5;}
.tab_2 td p,.tab_2 td i{line-height:26px; display:block;}
.tab_2 td p .font14{font-size:14px; font-weight:900;}
.tab_2 td i{ font-style:normal;}
.tab_2 td p span{background:#378fd0; color:#fff !important; padding:1px 6px;}
.tab_2 td .em_bg{background:url(../images/all.png) -56px -597px;  height:20px;width:18px;float:left; line-height:23px; display:block;}
.tab_2 td.td5 a{width:100px; height:26px; line-height:26px; text-align:center; background:#378fd0; color:#fff; display:block;}
.tab_2 td.td5 a:hover{background:#4bade5;}
.font18 {    color: #666666; font-family: "微软雅黑"; font-size: 18px;}
.font16 { font-family: "微软雅黑"; font-size: 16px !important;}
/*=============评论==========*/
.comments_all{ border:1px solid #e5e5e5;border-top:2px solid #378fd0;margin-top:20px;padding:15px;}
.look span,.look a{ display:block; float:left; }
.look span{ font-family: "微软雅黑"; font-size:18px;}
.look a{ color:#378fd0; float:right;margin-top:5px;}
.look a:hover{color:#e50013;}
.comments_list{ clear:both; font-size:14px;border-bottom:1px dashed #e5e5e5;padding-top:20px;}
.border-none{ border:none;}
.comments_list .bigs{margin-right:8px; height:50px; overflow:hidden; position:relative;}
/*.comments_list .bg_pic{ width:55px; display:inline-block; height:50px; background:url(../images/all.png) left -868px;position:absolute; left:0; top:0; }*/
.comment{height:228px;}

.comments_r{ float:left;width:630px;}
.comments_r p{ clear:both; line-height:30px;}
.yx { font-size:12px; background:  #F2F2F2;display: inline-block; float: left; height: 26px; line-height: 26px;margin: 5px 10px 5px 0; padding: 0 7px;position: relative;}
.yx div{position: absolute;top: 0px;left: 10px;color: #f00;font-size: 20px;}
.yxHot { background:  #FFEDDF !important; }
.yxHot:link,.yxHot:visited{ color: #F46101;}

span.icon_apple5{ width:100px; height:20px; background:url(../images/all.png) no-repeat 0 -441px; display:inline-block;margin-left:3px; position:relative;top:5px;}
span.icon_apple4{ width:100px; height:20px; background:url(../images/all.png) no-repeat 0 -461px; display:inline-block;margin-left:3px; position:relative;top:5px;}
span.icon_apple3{ width:100px; height:20px; background:url(../images/all.png) no-repeat 0 -481px; display:inline-block;margin-left:3px; position:relative;top:5px;}
span.icon_apple2{ width:100px; height:20px; background:url(../images/all.png) no-repeat 0 -501px; display:inline-block;margin-left:3px; position:relative;top:5px;}
span.icon_apple{ width:100px; height:20px; background:url(../images/all.png) no-repeat 0 -521px; display:inline-block;margin-left:3px; position:relative;top:5px;}
.times{ text-align:right; font-size:12px;}
/*============综合评价============*/
.praise{ border:1px solid #e5e5e5; height:378px;}
.praise p{ clear:both;}
.praise_column1{ padding:10px;border-bottom:1px dashed #e5e5e5;}
.praise_column-2{ padding-top:0px;}
.praise_column1 .praise_tit{ font-size:16px; font-family:"微软雅黑";}
.tag_num{ font-size:30px; font-family:"微软雅黑";padding:10px 0;}
.tag_num em{ margin-left:5px;}
.praise_column2{ border-bottom:1px solid #e5e5e5; color:#666;padding:10px;}
.praise_column2 b{ font-weight:normal;}
.praise_column2 p{ height:22px;line-height:22px;}
.gray{ background:#efefef; display:inline-block;width:100px; height:10px; position:relative;margin-left:18px;margin-right:10px;}
.evaluate2{ margin-left:30px;}
.evaluate3{ margin-left:6px;}
.gray em{ display:inline-block; width:10px; height:10px;background:url(../images/red_bg_03.jpg) repeat-x 0 0; position:absolute; z-index:1; left:0px; top:0px;}
.praise_column3{ padding:10px;}
.mpres{ text-align:right; color:#999; clear:both;padding-bottom:5px;}
.yx_tag{ margin-top:8px;}
.yx_tag .yx{ margin-bottom:5px;}
/*=============同类产品==========*/
#hotFood {overflow:hidden;}
#hotFood dl{margin:10px 12px 0 0 ; width:114px; overflow:hidden; float:left;}
#hotFood dt{ border:1px solid #e5e5e5; width:112px; height:112px;}
#hotFood dd{width:100%; text-align:center; line-height:21px; color:#666;}
#hotFood dd a{color:#666;}
#sameList{border:1px solid #e5e5e5; padding:12px 0;}
#sameList .title_h4{margin:0 14px;}
#sameList p .blue{ position:relative;left:-4px;}
#sameList .pl12{ margin-left:8px;}
#sameList .pl12{}
#sameList li{padding:10px 6px 10px 14px;}
#sameList .li_bg{background:#f9f9f9;}
#sameList li p{height:22px;}
#sameList li p a:hover{color:#e50013 !important;}
#sameList .common_tit{ width:228px; margin:0 auto;}
/*============咨询===============*/
#zixun{border:1px solid #E5E5E5; border-top:2px solid #378FCF;padding:0 15px;}
#zixun h2{font-size:18px; font-family:"微软雅黑"; font-weight:normal;}
#zixun h2 a.blue{font-size:12px; font-family:"宋体"; }
/* #zixun h2 a.blue:hover{color:#e50013 !important;} */
#zixun h2 a.zixun_bg{ background:#378fd0; color:#fff !important; height:28px; line-height:28px; padding:0 10px; margin-top:10px;}
#zixun h2 a.zixun_bg:hover{background:#4bade5;}
.wen{display:block; float:left; width:22px; height:22px; background:#84B623; text-align:center; color:#fff; line-height:22px; font-weight:900;margin-right:10px;}
.da{display:block; float:left; width:22px; height:22px; background:#FF8630; text-align:center; color:#fff; line-height:22px; font-weight:900;margin:5px 10px 0 0;}
#zixun dl {border-bottom:1px dashed #F5F5F5;padding:15px 0;}
#zixun .no-bodeer{ border:none;}
#zixun dl dt{margin-bottom:10px;}
#zixun dl dt span.blue{font-size:14px; line-height:22px;display:block; padding-left:32px;}
#zixun dl dd p{padding-left:32px;font-size:14px; line-height:30px;color:#666;}
/*==========内容页产品咨询===========*/
.question{border:1px solid #E5E5E5; border-top:2px solid #378fd0; background:#fcfcfc; padding:0 14px 20px;}
.question_tit{padding:15px 0 10px; border-bottom:1px solid #e4e4e4;}
.question_tit span a{width:70px; height:26px; line-height:26px; display:inline-block; text-align:center;color:#fff; font-size:12px; background:url(../images/all.png) left -618px; margin-left:10px; text-indent:22px;}
.question_tit span a:hover{background:url(../images/all.png) left -645px;}
.question_tit span a.a2{background:url(../images/all.png) left -672px; color:#666;}
.question_tit span a.a2:hover{background:url(../images/all.png) left -699px; color:#666;}
.question li{padding-top:15px; overflow:hidden;}
.question label{color:#999;padding-right:30px;}
.question .sui{width:44px; height:21px; background:#fff; border:1px solid #e4e4e4; color:#999;}
.question  .selected{width:136px; height:26px; line-height:26px; color:#999;}
.question .area{width:616px; height:90px; line-height:21px; border:1px solid #e4e4e4; padding:4px; box-shadow: 0 1px 2px #f0f0f0 inset; resize:none;}
.question .sp2{height:98px;}

.tijiao{display:block;width:170px; height:32px; line-height:32px; background:#ed4b56; text-align:center;  font-size:14px; color:#fff !important;  margin:0 auto;}
.tijiao:hover{background:#db3740;}
/*===========/内容页产品咨询=========*/
/*==========内容页产品说明===========*/
.detail{border:1px solid #E5E5E5; border-top:2px solid #378fd0;}
.detail li{ overflow:hidden; padding:15px 0; border-bottom:1px solid #f5f5f5; line-height:1.6; color:#666; font-size:14px;}
.detail li p{ line-height:24px;text-indent:2em; color:#333;}
.detail li strong{ display:block; padding-bottom:10px; color:#333;}
.detail li a{color:#378fd0; line-height:24px}
.detail li a:hover{color:#e50013;}
.det1{margin-bottom:10px;}
.det1 img{margin-right:10px; border:1px solid #d2e2ec;}
/*==========/内容页产品说明===========*/
/*==========内容页产品点评===========*/
.comment{ height:230px;}
.comments_alls{padding:0;}
.comments_alls .look{padding:15px 0 0 15px;}
.comments_alls .comments_list{margin:0 15px;}
.commet_r{border-bottom:1px dashed #e5e5e5; width:496px; margin-left:10px;}
.comment .praise{border:none; height:auto;}
.comment .praise_column1{width:188px; padding-right:0;}
.comment .praise_column2{width:268px; border-left:1px dashed #e5e5e5; padding:0 0 0 20px; margin-top:12px;}
.comment .praise_column3{padding-bottom:0; padding-right:0;}
.speak{background:#fcfcfc; padding:0 14px 20px;}
.speak1 li{ color:#666;font-size:14px; padding-top:15px;}
.speak1 a{ display:inline-block; width:18px; height:20px; margin-right:5px; vertical-align:-4px; overflow:hidden;}
.speak1 .app0{ background:url(../images/all.png) left -540px;}
.speak1 .app1{ background:url(../images/all.png) left -520px;}
.speak1 .app2{ background:url(../images/all.png) left -500px;}
.speak1 .app3{ background:url(../images/all.png) left -480px;}
.speak1 .app4{background:url(../images/all.png) left -460px;}
.speak1 .app5{background:url(../images/all.png) left -440px;}

.speak1 .sp_cur{display:inline-block; width:50px; height:20px; line-height:20px; text-align:center; color:#fff; background:#ed4b56; margin-left:10px;}
.speak3{padding:0;}
#CheckboxGroup1_0{ position:relative;top:-1px;}
.speak4 .txt{width:602px; height:40px; border:1px solid #e4e4e4; box-shadow: 0 1px 2px #f0f0f0 inset; resize:none; margin-bottom:10px; padding:4px; color:#999;}
.speak4 .btn1{display:inline-block; width:170px; height:32px; line-height:32px; background:#ed4b56; text-align:center; color:#fff;}
.speak4 .btn1:hover{background:#db3740;}

.jiage{height:52px;line-height:52px;border-bottom:1px solid #e5e5e5;}
.jiage .btn{width:98px;height:30px;float:right;margin-top:10px;}
.yxH { font-size:14px;height:35px;line-height:35px;font-family:"微软雅黑";}
.yxH .hui{float:right; color:#999; font-size:12px;font-family:"宋体";}
.yx{display:inline-block;float:left;height:26px;line-height:26px; background:#F2F2F2;margin-bottom:5px;margin-right:10px; padding:0 7px;}
.yxHot { background:  #FFEDDF; }
.yinxiang .yxHot{background:#FFEDDF; color:#F46101;}
.tj{padding-right:37px;background:url(../images/tj.jpg)  right 0 no-repeat #F2F2F2; cursor:pointer;position:relative;}
.tj i{ width:32px; height:26px; background:url(../images/all.png) left -841px; position:absolute; right:0; top:0;}
.yinxiang{ overflow:hidden;}
.yinxiang .text{width:92px;height:23px; border:1px solid #D60000;padding:0;}
.yinxiang .tijiao{width:34px;height:25px; line-height:25px; background:url(../images/tijiao_bg.jpg) repeat-x; cursor:pointer; border:1px solid #e5e5e5; border-left:none; color:#333 !important; font-size:12px;}
#yxtj{width:140px;margin-top:6px;}

#dpBtn{height:44px;border:1px solid #e5e5e5; border-bottom:none; background:#f9f9f9 url(../images/tiao2.jpg) repeat-x left bottom; padding-left: 14px;}
#dpBtn p{padding:10px 0; display:inline-block; font-size:14px; font-family:"微软雅黑";}
#dpBtn span a{ display:inline-block; width:80px; height:25px; line-height:25px; text-align:center; color:#fff; font-size:14px; background:url(../images/all.png) left -726px;}
#dpBtn span a:hover{background:url(../images/all.png) left -752px;}
#dpBtn span a.a1{margin-top:8px;}

#xingBox{height:149px;border:1px solid #e5e5e5; border-top:none; background:url(../images/dpBg.jpg) repeat; padding:15px 0 0 15px;}
#xingBox h3,#xingBox p{ height:35px;}
#xingBox p i{vertical-align:-6px; padding-right:4px; width:18px; height:20px;}
.icon1{margin-right:8px; background:url(../images/all.png) -70px -234px;  }
.icon2{ margin-right:8px;background:url(../images/all.png)  -70px -274px;}
.icon3{ margin-right:8px;background:url(../images/all.png) -70px -316px;}
#xingBox p span{ display:inline-block; width:59px; height:20px; line-height:20px; background:url(../images/all.png) left -778px; vertical-align:middle; text-indent:6px; color:#fff;}
#xingBox p span.sp2{background:url(../images/all.png) left -799px;}
#xingBox p span.sp3{background:url(../images/all.png) left -820px;}
/*==========/内容页产品点评===========*/
/*=============权威发布=============*/
.qwfbList{border:1px solid #e5e5e5;}
.qwfbH{height:37px; font-family:"微软雅黑"; font-size:18px;background:#f5f5f5;line-height:37px; text-indent:15px;}
.zixunList {padding:0 15px;}
.zixunList li {padding:10px 0; border-bottom:1px solid #f5f5f5; overflow:hidden;}
.zixunList li strong{display:inline-block; float:left;width:90px; font-size:14px; color:#333;line-height:24px;}
.xinxi {float:left; line-height:22px;width:605px;}
.xinxi p{ line-height:24px;}
.xinxi .blue:hover{color: #e61d24 !important;}
.xinxi .font14{line-height:24px; font-size:14px;}
.xinxi .font14 a:hover{color: #378fd0;}
.zixunfl{padding:15px 0; color:#ccc;}
.zixunfl a{color:#378fd0;line-height:24px;display:inline-block;width:116px; text-align:center;font-size:14px;}
.zixunfl a:hover{ color:#e61d24;}
.cont{padding: 0 40px;}
h5{font-size:20px; font-family:"微软雅黑"; text-align:center;line-height:70px;}
#content{font-size:14px; line-height:33px;padding:30px 0 0 ;}
.xiangguan{ border:1px solid #d2e2ec;margin:15px 40px 0; }
.xgH{height:30px; background:#F9F9F9; text-indent:10px;  line-height:28px; font-size:14px; font-weight:900;}
.xiangguan ul{margin:10px 0;background:url(../images/xg.png) center 0 repeat-y ;}
.xiangguan ul li{float:left;padding-left:20px; width:300px;}
.xiangguan ul li a{font-size:14px;line-height:24px;}
.xiangguan ul li a:hover{color: #378fd0;}
.dianji{ text-indent:5px;height:32px;line-height:30px;background:#F9F9F9; margin:0 40px 15px;} 
.dianji a{ color:#378fd0;}
.dianji a:hover{ color:#e61d24;}
.word{width:16px; height:16px;background:url(../images/all.png) 0 -598px;vertical-align: middle;margin-right:2px;}
.excel{width:16px; height:16px;background:url(../images/all.png) -16px -598px;vertical-align: middle;margin-right:2px;}
.pdf{width:16px; height:16px;background:url(../images/all.png) -32px -598px;vertical-align: middle;margin-right:2px;}
.line {height: 0;font-size: 0;border-bottom: 1px solid #e5e5e5;}
/*=============权威发布  end =============*/
/*=============权威发布列表页=============*/
.zuxun_list{border:1px solid #e5e5e5;}
.zuxun_list span{display:block; height:38px; line-height:38px;  padding-left:32px; background:#f5f5f5 url(../images/arrow6.png) no-repeat 8px center;}
.zuxun_list p{padding:0 10px; background:url(../images/dpBg.jpg) repeat; color:#ccc;}
.zuxun_list p a{height:35px; line-height:35px; width:67px; text-align:center; display:inline-block;color:#378fd0; font-size:14px;}
.zuxun_list p a:hover{color:#e50013;}
.history{border:1px solid #e5e5e5;}
.history h4{height:35x; line-height:35px; border-bottom:1px solid #e5e5e5; }
.history h4 span{display:inline-block; height:35px; line-height:35px; border-bottom:2px solid #378fcf; padding:0 5px;}
.history li{padding:10px 0 10px 10px; overflow:hidden; height:90px; border-bottom:1px dashed #e4e4e4}
.history .lir{width:151px; padding-left:10px;}
.history li:hover{background:#f9f9f9}
.history li i{ display:inline-block; width:22px; height:25px;background: url(../images/all.png) no-repeat -40px -234px; vertical-align:-4px;}
.history li a.blue:hover{color: #e50013 !important;}
.history li span{display:block; padding:5px 0;}
.history li p{ line-height:20px;}
/*=============/权威发布列表页===========*/
/*=======指数排行========*/
#paihang{} 
.phList{width:500px; float:left;padding:20px 0;}
.phH{height:40px;font-size:22px; font-family:"微软雅黑";color:#333;}
.phH .fr{font-size:14px; color:#378fd0;}
.phH .fr:hover{color: #e50013;}
.ph1{display:inline-block; width:28px; height:28px; background:url(../images/all.png) 0 -570px; margin-right:5px;vertical-align:middle;}
.ph2{display:inline-block; width:28px; height:28px; background:url(../images/all.png) -28px -570px; margin-right:5px;vertical-align:middle;}
.ph3{display:inline-block; width:28px; height:28px; background:url(../images/all.png) -56px -570px; margin-right:5px;vertical-align:middle;}
.ph4{display:inline-block; width:28px; height:28px; background:url(../images/all.png) -84px -570px; margin-right:5px;vertical-align:middle;}
.phList ul li {height:30px; line-height:30px;overflow: hidden;}
.phList ul li .nameH a{color:#378fd0; font-size:14px; font-family:"宋体";}
.phList ul li .nameH  a span{font-size:18px; font-family:"微软雅黑";margin-right:10px; vertical-align:-1px;color:#999;}
.phList ul li .nameH  .fr{font-size:15px; font-family:"微软雅黑"; color:#666;}
.phList ul li.one{height:120px; background:#FAFAFA;padding-top:10px;margin-bottom: 10px; margin-top:10px;}
.phList ul li.one .nameH{display:none;}
.jin{display:inline-block;width:15px; height:23px; background:url(../images/all.png) -32px -841px; margin-right:3px;}
.phCont{padding:0 0 0 20px; display:none;}
.phList ul li.one .phCont{display:block;}
.phCont p{float:left;width:56px;}
.phCont p span{font-size:24px;font-family:"微软雅黑"; }
.phCont  dl{float:left;}
.phCont  dl dt{border:1px solid #E5E5E5; width:108px; height:108px;float:left;}
.phCont  dl dd{float:left;padding-left:10px; line-height:26px; width:290px;}
.fen5_s{width: 22px;height: 25px; margin-right: 5px;overflow: hidden;background: url(../images/all.png) no-repeat -40px -234px; vertical-align:-5px;}
.fen4_s{width: 22px;height: 25px; margin-right: 5px;overflow: hidden;background: url(../images/all.png) no-repeat -40px -258px; vertical-align:-5px;}
.fen3_s{width: 22px;height: 25px; margin-right: 5px;overflow: hidden;background: url(../images/all.png) no-repeat -40px -284px; vertical-align:-5px;}
.fen2_s{width: 22px;height: 25px; margin-right: 5px;overflow: hidden;background: url(../images/all.png) no-repeat -40px -310px; vertical-align:-5px;}
.fen1_s{width: 22px;height: 25px; margin-right: 5px;overflow: hidden;background: url(../images/all.png) no-repeat -40px -336px; vertical-align:-5px;}
.bai{font-size:18px;color:#666;font-family:"微软雅黑"; padding:0 5px;}
.phCont  dl dd .f14{line-height:20px;vertical-align: 3px;}
.phCont  dl dd a.blue{font-size:16px;font-family:"微软雅黑";}
.phCont  dl dd span.red{font-family:"微软雅黑"; font-size:14px;}
.phCont dl dd a:hover , .phCont dl dd a:hover span ,.phList ul li .nameH a:hover{color: #e50013 !important;}
.odd1{border-right:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC; width:499px;}
.odd1 .nameH ,.odd3 .nameH{padding-right:20px;}
.odd1 .phH ,.odd3 .phH{padding-right:20px;}
.odd2 .phH ,.odd4 .phH{padding-left:20px;}
.odd2{border-bottom:1px solid #DCDCDC;}
.odd2 .nameH , .odd4 .nameH{padding-left:20px;}
.odd3{border-right:1px solid #DCDCDC; width:499px; padding-bottom:0;}
.odd4{padding-bottom:0;}
/*========分页==========*/
.page {/*  width:725px;  */text-align:center; color: #999999; font-family: Arial;  font-size: 14px;  height: 32px; line-height: normal; white-space: nowrap;padding-bottom:20px;}
.page a {  display: inline-block; height: 30px; line-height: 30px;margin-left: -1px;    min-width: 18px;width:38px;text-align: center; vertical-align: top;}
.page a:link, .page a:visited { background-color: #f9f9f9; border: 1px solid #e0e0e0;color: #333;text-decoration: none;}
.page a:hover { background-color: #fff;border: 1px solid #CCD3E4; color:#3B5998;    text-decoration: none;}
.page a.current:link, .page a.current:visited, .page a.current:hover {background-color: #378fd0;border: 1px solid #378fd0;
color: #FFFFFF;cursor: default;text-decoration: none; font-weight:bold}
.page .page-item-first { margin-right: 5px;}
.page .page-item-prev {  margin-right: 5px; width: 50px;}
.page .page-item { margin: 0 5px;}
.page .page-item-next {  margin-left: 5px;width: 50px;}
.page .page-item-last { margin-left: 5px;}
.page a.page-disabled:link, .page a.page-disabled:visited, .page a.page-disabled:hover {
background-color: #fff;border: 1px solid #e0e0e0;cursor: default;}
.page-small { font-size: 12px;height: 20px;}
.page-small a { height: 18px;line-height: 18px;}
.page-small .page-item-info { line-height: 20px;}
.page .page-item-jump {  background-color: #FAFBFC;border: 1px solid #CCD3E4; color: #999999; display: inline-block; font-family: 宋体;font-size: 12px; height: 26px;    line-height: 26px; margin: 0 6px; padding: 0 4px;}
.page .page-item-jump .page-item-jump-text { background-color: #FFFFFF;border: 1px solid #CCD3E4; color: #666666; float: left; height: 18px;line-height: 18px;margin: 3px 5px 0 0; padding: 0 3px;text-align: center; width: 25px;}
.page-small .page-item-jump {height: 18px;line-height: 18px;}
.page-small .page-item-jump .page-item-jump-text { height: 12px;line-height: 12px;    margin-top: 2px;}
/*==========/分页========*/
/*=======底部=======*/
#footer{height:122px; width:1000px; margin:0 auto; border-top:2px solid #378FCF;color:#6D6B6C; text-align:center; line-height:22px;}
#footer a{color:#6D6B6C;margin-left:7px;}
#footer a:hover{color: #3890D0;}
/*登陆注册弹出*/
#layel{width:400px; height:360px; position:fixed; border:10px solid #949494; top:50%; left:50%;margin:-220px 0 0 -190px; background:#fff; line-height:30px; z-index:10;display:none;}
.close{width:16px; height:17px; background:url(../images/all.png) -65px -129px; position:absolute; right:-3px; top:-3px;}
.layelH{height:40px;background:#47a9e0;}
.tab{height:28px; margin:0 10px; border-bottom:1px solid #e8e5e5; padding-left:60px;margin-top:20px;}
.tab a{display:inline-block;width:84px; height:27px;border:1px solid #e8e5e5; border-bottom:none;font-family:"微软雅黑"; font-size:16px;line-height:28px; text-align:center;margin-right:5px; background:#f7f7f7;}
.tab a.selected{background:#fff; height:28px; color:#3399cc;}
#layel p.red{width:262px; margin:0 auto;}
#layel .loginBox{display:block; position:relative; top:0px;box-shadow:none;border:0; margin:0 auto;}
#layel .loginBox .name {margin-top:0;}
#layel .wjmm{float:right; padding-right:20px;color: #e50013;}
.nicheng {margin: 0 21px 10px;background: url(../images/nicheng.jpg) no-repeat 7px center;width: 224px;height: 34px;border: 1px solid #E8E5E5;padding-left: 36px;line-height: 34px;}
.ljzc{width: 260px;height: 30px;margin-left: 21px;display: inline-block;text-align: center;line-height: 32px;color: #fff;background: url(../images/zhuce.jpg);border: 1px solid #35ab19;font-size: 14px;cursor: pointer;}

.search_1{line-height:22px;background:#f2f6f9;padding:10px;}
.search_1 span{width:912px;}
.search_1 span a{display:inline-block;  padding:0 10px; color:#378fd0; text-decoration:underline;}
.search_1 span a:hover{color:#e50013;}
/*=======底部 end=======*/

#img_box {  position: relative; }
#float_layer { width: 50px; height: 50px; border: 1px solid #000; background: #fff; filter: alpha(opacity: 30); opacity: 0.3; position: absolute; top: 0; left: 0; display:none; }
#big_img { position: absolute; top: -1px; left: 305px; width:300px; height:300px; overflow:hidden; border:2px solid #CCC; display:none; }
#big_img img { position:absolute; top: -30px; left: -80px; }
#zs_list7{display: block;}
#zs_list8{display: none;}
#zs_list9{display: none;}
/*搜索结果*/
.list{margin-top:10px;}
.list li{line-height:30px;border-bottom:1px dashed #e5e5e5;padding:0;}
.list li.cur{border:0;}
.list li a{font-size:14px;}
.list li a:hover{color: #368FD3;}

/*返回顶部*/
.gotop{  bottom: 500px;left: 51%; margin-left: 505px;position: fixed; _position:absolute;_bottom:-500px; z-index: 500;display: none}
.gotop .result-op,.gotop .baojian_feedback,.gotop .bdshare_t{ width:54px; height:54px;cursor:pointer;background:#4ea2fa; margin-bottom:5px;text-align:center;}
.gotop .result-op{ background:url(../images/all.png) no-repeat -5px -1145px #4ea2fa;}
.gotop .result-op:hover{ background:url(../images/all.png) no-repeat -5px -1145px #4495e6;}
.gotop .bdshare_t{ background:url(../images/all.png) no-repeat -46px -1145px #4ea2fa;}
.gotop .bdshare_t:hover{ background:url(../images/all.png) no-repeat -46px -1145px #4495e6;}
.gotop .baojian_feedback{ background:url(../images/all.png) no-repeat -67px -1085px #4ea2fa;}
.gotop .baojian_feedback:hover{ background:url(../images/all.png) no-repeat -67px -1085px #4495e6;}

/*意见反馈*/
.feedback-title{ line-height:20px;font-size:16px;font-weight:bold;margin: 0;color: #333;text-rendering: optimizelegibility; font-family:"微软雅黑";}
.feedback_right_dialog{ font-size:12px;position:fixed;_position:absolute;right:5px;bottom:5px;width:376px;height:346px;display: none;z-index: 1001}
.feedback-modal{ background-color:white;cursor:default;top:100%;left:100%;width: 375px;overflow:hidden;height: 310px;border: 1px solid #999999;border-radius: 3px 3px 3px 3px;box-shadow: 0 0 9px #999999;*border:1px solid #ddd;}
.feedback-header{ padding: 5px 10px;height:25px;border-bottom: 1px solid #ddd;background:#f5f5f5;padding-left:17px;cursor:move;text-align:left;bottom:313px;right:5px;-moz-user-select:none;position:fixed;*position:inherit;width:348px;*width:348px;}
#feedback-close_x{ margin-top: 2px;float: right;font-size: 20px;font-weight: bold;line-height: 18px;color: #000000;text-shadow: 0 1px 0 #ffffff;cursor:pointer;}
.feedback_action{ margin-left:20px;margin-top:55px;_margin-top:15px;height:200px;}
.feedback-body{ text-align:left;}
.issuetype_radio{ margin-right:5px;}
.issuetype_radio{ margin-right:5px;margin-left:10px;}
#feedback_des_content{ border:1px solid #ccc;margin-left: 0;padding: 4px;margin-bottom: 9px;font-size: 100%;vertical-align: top;font-size: 13px;line-height: 18px;width:270px;height:100px;resize:none;}
.email_block{ height:30px;line-height:30px;margin-bottom:10px;clear:both;}
#feedback_email{ margin-right:0px;height: 20px;line-height: 20px;width: 270px;border: 1px solid #ccc;padding: 4px;font-size: 13px;display: inline-block;}
.feedback-footer{ width:345px;_width:346px;height:45px;_height:46px;line-height:40px;padding: 5px 14px 5px 15px;text-align: center;margin-bottom: 0;background-color: #f5f5f5;border-top: 1px solid #ddd;}
#feedback_right_dialog_save{ display: inline-block;padding: 6px 10px 6px;_padding: 3px 10px 3px;margin-bottom: 0;font-size: 13px;line-height: 18px;text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);vertical-align: middle;background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border: 1px solid #ccc;border-bottom-color: #bbb;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);cursor: pointer;filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);}

.feedback_textarea textarea { border: 1px solid #CCCCCC;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;  display: inline-block;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; overflow: auto; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}
.email_block .feddback_email { border: 1px solid #CCCCCC;border-radius: 3px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;display: inline-block;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; height: 20px; line-height: 20px; padding: 4px; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;width: 250px;}

.feedback_btn {  background-color: #F5F5F5;background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);background-repeat: repeat-x;border-color: #CCCCCC #CCCCCC #BBBBBB;border-image: none;border-radius: 4px;border-style: solid;border-width: 1px;ox-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);color: #333333; cursor: pointer; display: inline-block;
    font-size: 13px;line-height: 18px;margin-bottom: 0; padding: 4px 10px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle;}
.feedback_btn:hover, .feedback_btn:focus {background-color: #E6E6E6;background-position: 0 -15px;color: #333333;text-decoration: none;transition: background-position 0.1s linear 0s;}